<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h4">
          Nuevo Producto
        </h1>
      </div>
      <div class="card-body">
        <form action="/forms/newprodut" method="POST">

          <div class="form-group">
            <input type="nombre" class="form-control" name="nombre" placeholder="Nombre">
          </div>

          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Precio">
          </div>

          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder=" Descripcion">
          </div>

          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Stock">
          </div>

          <button class="btn btn-primary btn-block">
            Agregar 
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
 