<section id="productos">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/zelda.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Amiibo Princesa Zelda </h5>
                            <p class="card-text"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $756</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/Samus.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Amiibo Samus Aran Metroid Dread</h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $600</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/DoomEternal.png" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Doom Eternal Collectors Edition</h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $4500</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/trainerbox.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Elite Trainer Box Pokemon</h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $999</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/REVILL.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Resident Village Collectors Edition</h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $4514</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/amiibocards.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Amiibo Cards Animal Crossing</h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $289</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>