<div style="background-color:azure;" class="jumbotron mt-4">
  <h1 class="display-4">BIENVENDO</h1>
  <p class="lead">Bienvenido al sistema de gestion de productos de GAMESTOP</p>
  <hr class="my-4">

    <div id="carouselExampleSlidesOnly"  class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/img/wall5.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/img/wall3.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/img/wall2.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
</div>

