<link rel="stylesheet" href="/css/formcards.css">

<section id="productos">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/awakening.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Legend of Zelda: Links's Awakening </h5>
                            <p class="card-text"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $1227</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/ac.png" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Animal Crossing: New Horizons</h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $1058</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/3dworld.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Super Mario 3D World + Bowsers Fury </h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $1049</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/rise.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Monster Hunter Rise Deluxe Edition</h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $1499</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/metroid.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Metroid Dread        </h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $1287</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/snap.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">New Pokemon Snap </h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $849</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>
  