<section id="productos">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/Bloodborne.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Bloodborne </h5>
                            <p class="card-text"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $999</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/GOF.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">God of War </h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $600</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/Horizon.png" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Horizon Zero Dawn</h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $1500</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/village.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Resident Evil Village</h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $1299</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/tsushima.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Ghost of Tsushima       </h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $1145</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/lastof.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">The last of us part II </h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $849</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>
  