<section id="productos">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/forza5.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title"> Forza Horizon 5</h5>
                            <p class="card-text"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $1499</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/HaloInfiite.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Halo Infinite</h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $1499</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/ori.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Ori and the will of the wisp </h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $599</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/hellblade.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Hellblade Senuas Sacrifice</h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $399</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/gears.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Gears of war 5</h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $1287</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="img/medium.png" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">The Medium </h5>
                            <p class="card-text">
                             </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $1229</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>
  